body{
    background-color: black;
}
img{
     
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
}
.div1{
    display: flex;
}
#games{
display: flex;
gap:20px;
flex-wrap: wrap;
}